<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-11 offset-sm-1">
        <h3><i class="fas fa-indent"></i></i>レシピ一覧</h3>
      </div>
      <% @recipe_d.each do |recipe| %>
        <div class = "col-sm-3">
          <%= link_to recipe_d_path(recipe) do %>
            <div class = "card">
              <% if recipe.image.attached? %>
                <%= image_tag recipe.image.representation(resize_to_limit: [200, 200]), class: "mx-auto d-block" %>
              <% else %>
                <%= image_tag asset_path('no_image.jpg'), class: "mx-auto d-block", style: "max-width:500px;" %>
              <% end %>
              <div class = "card-body"><%= recipe.title %></div>
              <div class = "card-text">a</div>
              <div class = "row">
                <div class = "col-sm-3 offset-sm-1"><%= recipe.time %></div>
                <div class = "col-sm-6 text-right">##<%= recipe.time %></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class = "col-sm-5 offset-sm-5">
        <%= paginate @recipe_d %>
      </div>
    </div>
  </div>
</main>