<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-11 offset-sm-1">
        <h3><i class="fas fa-cookie-bite"></i><%= @recipe_d.title %></h3>
      </div>
      <div class = "col-sm-12">
        <!--料理画像を中央寄せし、縦横最大1000pxで表示 画像が無ければno_imageを表示-->
        <% if @recipe_d.image.attached? %>
          <%= image_tag @recipe_d.image.representation(resize_to_limit: [1000, 1000]), class: "mx-auto d-block" %>
        <% else %>
          <%= image_tag asset_path('no_image.jpg'), class: "mx-auto d-block", style: "max-width:500px;" %>
        <% end %>
      </div>
      <div class = "col-sm-3">
        投稿日
      </div>
      <div class = "col-sm-3">
        <%= @recipe_d.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div class = "col-sm-3">
        調理時間
      </div>
      <div class = "col-sm-3">
        <%= @recipe_d.time %>分
      </div>
      <!--いいね機能の実装 ここから-->
      <div class = "col-sm-12 text-center">
        <% if @recipe_d.favorited_by?(current_user) %>
          <p>
            <%= link_to recipe_d_likes_path(@recipe_d), method: :delete do %>
              <i class="fas fa-heart"></i><%= @recipe_d.likes.count %>いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to recipe_d_likes_path(@recipe_d), method: :post do %>
              <i class="far fa-heart"></i><%= @recipe_d.likes.count %> いいね
            <% end %>
          </p>
        <% end %>
      </div>
      <!--ここまで-->
      <div class = "col-sm-11 offset-sm-1 mt-3">
        <h3><i class="fas fa-book-open"></i>料理説明</h3>
      </div>
      <div class = "col-sm-11 offset-sm-1">
        <%= @recipe_d.explanation %>
      </div>
      <div class = "col-sm-11 offset-sm-1 mt-3">
        <h3><i class="fas fa-user"></i>材料<%= @recipe_d.people %>人分</h3>
      </div>
      <!--アソシエーションで紐づいているmaterialsのカラムをeach文で表示-->
      <% @recipe_d.materials.each do |material|%>
      <span class = "col-sm-3 offset-sm-2">
        <%= material.material_name %>
      </span>
      <span class = "col-sm-3 text-right">
        <%= material.quantity %>
      </span>
      <% end %>
      <div class = "col-sm-11 offset-sm-1 mt-3">
        <h3><i class="fas fa-utensils"></i>作り方</h3>
      </div>
      <!--アソシエーションで紐づいているproceduresのカラムをeach文で表示-->
      <% @recipe_d.procedures.each do |procedure|%>
      <span class = "col-sm-3 offset-sm-2">
        <%= procedure.procedure_explanation %>
      </span>
      <span class = "col-sm-3 text-right">
        <% if procedure.image.attached? %>
          <%= image_tag procedure.image.representation(resize_to_limit: [100, 100]) %>
        <% else %>
            <%= image_tag asset_path('no_image.jpg'), class: "preview", style: "max-width:100px;" %>
        <% end %>
      </span>
      <% end %>
      <div class = "col-sm-11 offset-sm-1 mt-3">
        <h3><i class="far fa-comment"></i></i>コメント</h3>
      </div>
      <!--コメントを表示　削除ボタンはレシピの投稿者とコメントの投稿者のみ表示-->
      <% @recipe_d.comments.each do |comment| %>
        <div class = "col-sm-11 offset-sm-1 mt-3">
          <%= comment.comment %>
          <% if user_signed_in? %>
            <% if comment.user == current_user %>
              <%= link_to "削除", recipe_d_comment_path(comment.recipe_d, comment), class: 'btn btn-sm btn-danger', method: :delete %>
            <% elsif @recipe_d.user == current_user %>
              <%= link_to "削除", recipe_d_comment_path(comment), class: 'btn btn-sm btn-danger', method: :delete %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <!--ゲストログイン時はコメント投稿機能を非表示-->
        <% if current_user.email == 'guest@example.com' %>
        <% else %>
          <div class = "col-sm-11 offset-sm-1 mt-3">
            <h3><i class="fas fa-comment-medical"></i></i>コメント投稿</h3>
          </div>
          <div class = "col-sm-11 offset-sm-1 mt-3">
            <%= form_with model: [@recipe_d, @comment] do |f| %>
              <%= f.text_area :comment, class:"form-control", :placeholder => "レシピへの感想はこちらから！！" %>
              <%= f.submit "コメントする", class: "btn btn-sm btn-success" %>
            <% end %>
          </div>
        <% end %>
      <% else %>
      <% end %>
      <!--タグの表示　選択時、絞り込み表示-->
      <% @recipe_d.tags.each do |tag| %>
        <%= link_to tag.name, recipe_ds_path(tag_id: tag.id) %>
      <% end %>
      <!--レシピの投稿者とログインしているユーザーのidが一致したら編集・削除ボタンを表示-->
      <% if @recipe_d.user_id == current_user.id %>
      <div class = "col-sm-12 text-center">
        <%= link_to "編集する", edit_recipe_d_path(@recipe_d), class: 'btn btn-sm btn-success' %>
        <%= link_to "削除する", recipe_d_path(@recipe_d), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "本当に削除しますか？" } %>
      </div>
      <% end %>
    </div>
  </div>
</main>